<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Template</title>

    <!-- Link to stylesheet for Cookie Consent Popup Message -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
</head>
<body>

    <!-- JavaScript for Cookie Consent Popup Message -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
        window.cookieconsent.initialise({
        "palette": {
            "popup": {
            "background": "#64386b",
            "text": "#ffcdfd"
            },
            "button": {
            "background": "#f8a8ff",
            "text": "#3f0045"
            }
        },
        "content": {
            "href": "samanthamarah.github.io/privacy.html"
        }
        });
    </script>
    
</body>
</html>